<mat-card class="card-principal-menu">
	<mat-card class="card-principal-menu-detail" id="card-characters">
		<mat-card-actions>
			<button mat-raised-button class="btn_principal_menu" id="btn_menu_character" OnClick="location.href='/pages/menu-character.component.html'">Personajes</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="card-principal-menu-detail" id="card-history">
		<mat-card-actions>
			<button mat-raised-button class="btn_principal_menu" id="btn_menu_history" OnClick="location.href='/pages/menu-history.component.html'">Historia</button>
		</mat-card-actions>
	</mat-card>	
	<mat-card class="card-principal-menu-detail" id="card-lore">
		<mat-card-actions>
			<button mat-raised-button class="btn_principal_menu" id="btn_menu_lore" OnClick="location.href='/pages/menu-lore.component.html'">Lore</button>
		</mat-card-actions>
	</mat-card>
</mat-card>