<mat-card class="card-principal-menu">
	<button mat-raised-button class="btn_principal_menu" id ="btn_principal_menu_character">
		<h1>Personajes</h1>
		<img src="/src/app/image/characters.jpg">
	</button>
	<button mat-raised-button class="btn_principal_menu" id ="btn_principal_menu_history">
		<h1>Historias</h1>
		<img src="/src/app/image/history.jpeg">
	</button>
	<button mat-raised-button class="btn_principal_menu" id ="btn_principal_menu_lore">
		<h1>Lore</h1>
		<img src="/src/app/image/lore.jpeg">
	</button>
</mat-card>