.card-principal-menu{
	text-align: center;	
	position: relative;
	right: 15%; 
	width: 120%;
	height: 100%;
}

.card-principal-menu-detail{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
	height: 300px;
	width: 29.1%;
}

.btn_principal_menu{
	position: relative;
}

#card-characters{
	background-image: url(src/assets/image/characters.png);
}

#card-history{
	background-image: url(src/assets/image/history.jpeg);
}

#card-lore{
	background-image: url(src/assets/image/lore.jpg);
}