$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }
}

.context {
  widows: 100vw;
  display: flex;
  justify-content: center;
}

.container-app {
  background-color: beige;
  @include media(xs) { width: 100vw; }
  @include media(lg) { width: 767px; }
}
